@font-face {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SuisseIntl-Regular-WebM.woff') format('woff');
}
@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SuisseIntl-RegularItalic-WebM.woff') format('woff');
}
@font-face {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SuisseIntl-Bold-WebM.woff') format('woff');
}
@font-face {
  font-family: 'Suisse Intl';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/SuisseIntl-BoldItalic-WebM.woff') format('woff');
}

.markdown p:not(:last-child) {
  margin-bottom: 1rem;
}
section > .text-center .markdown img {
  margin: auto;
}
section > .text-right .markdown img {
  margin-left: auto;
}

/* TINA CMS ADJUSTMENTS

/* Hide various rich-text toolbar items */
.with-toolbar .sticky {
  width: 280px !important;
}
.with-toolbar .sticky .grid .grid span.z-10,
.with-toolbar .sticky .grid .grid > div,
.with-toolbar span[data-test="popoverRichTextButton"],
.with-toolbar span[data-test="quoteButton"],
.with-toolbar span[data-test="codeButton"],
.with-toolbar span[data-test="codeBlockButton"] {
  display: none;
}
.with-toolbar span[data-test="italicButton"],
.with-toolbar span[data-test="boldButton"] {
  visibility: visible !important;
  pointer-events: auto !important;
}
.with-toolbar span[data-test="italicButton"] {
  border-right: 1px solid rgb(225 221 236 / var(--tw-border-opacity));
}

/* Make global settings modal sidebar width and remove overlay */
#modal-root > div > div > div {
  max-width: 450px;
}
#modal-root > div > div:last-child {
  display: none;
}

/* Hide group field labels */
div[data-test="form:getGlobalDocument"] label[for="colors"],
div[data-test="form:getGlobalDocument"] label[for="fonts"],
div[data-test="form:getGlobalDocument"] label[for="sizeLeading"],
div[data-test="form:getGlobalDocument"] label[for="buttons"],
div[data-test="form:getGlobalDocument"] label[for="links"],
div[data-test="form:getGlobalDocument"] label[for="logo"],
div[data-test="form:getGlobalDocument"] label[for="nav"] {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
